* {
	box-sizing: border-box;
}
.button {
	transition: all .3s ease-out;
	box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
	color: white;
	background: rgb(74, 74, 141);
	padding: 10px;
	font-size: .9rem;
	font-weight: 500;
	border: none;
	border-radius: 4px;
	margin: 0 0 0 0px;
	cursor: pointer;
	outline: none;
	color:white;
}

.button_red {
	background: red;
}
.button:hover {
	box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
}
.main {
	display: flex;
	justify-content: center;
}