*{ box-sizing: border-box}

.main{
    color: #000099;
}
.list {
	
	padding: 0;
	margin: 0;
	text-align: left;
}

.item, 
.item_selected {
    transition: color ease-in-out .3s;
    transition: border ease-in-out .3s;
	text-decoration: none;
    list-style: none;
    padding: 2px;
    cursor: pointer;
    text-align: center;

    display: flex;
}
.item:hover {
    background-color: #EAEAEA;
    background: linear-gradient(45deg, rgba(200,200,200,0),rgba(234,234,234,1));
}
.item_selected:hover> .item_svg , .item:hover > .item_svg {
    color: #900;
}
.item_selected {
    color: #900;
    background-color: #EAEAEA;
    background: linear-gradient(45deg, rgba(200,200,200,0),rgba(234,234,234,1));
}

.item_name {
    flex:5
}
.icon_mark{
    width: 10px;
    height: 10px;
    fill:#999;
}                             
.list_item_button{
    background-color: transparent !important;
    box-shadow: 0px 0px 0px transparent;
}
.list_item_button:hover{
    box-shadow: 0px 0px 0px transparent !important;
}

.list_item_button:hover > svg{
    fill:#900;
}
.list_item_button > svg{
    fill:#FFF;
}
.item:hover > div > button{
    background-color: rgba(200,0,0,.4) !important;
}